<% if @comment.destroyed? %>
  $('#comment-' +<%= @comment.id %>).fadeout("slow");
  $(',js-comments-count').html("<%= pluralize(@comment.user.comments.count, 'comment') %>");
<% else %>
  $('#comment-' +<%+ @comment.id %>).prepend("<div class='alert alert-danger;><%= flash[:error] %></div>");
<% end %>