.social-btn {
  position: relative;
  border: solid;
  margin: 5px;
  padding: 5px;
  height: 200px;
  width: 20px;
  background-color: #4187FB;
  border-color: #A736FB;
  text-align: center;
  margin: 300px;
}